@{
    ViewData["Title"] = "VerInfoPelicula";
}


<html>


	<body class="fondo">


    <div class="text-center">
    <h1>@ViewBag.DatosPelicula.Nombre</h1>
    </div>

   <div class="delimitador">
<div class="contenedor">
<iframe src=@ViewBag.DatosPelicula.Trailer></iframe>
</div>
</div>

	<img class="fotoPeli"src="/imagenes/@ViewBag.DatosPelicula.Foto" >

 <h1 class="Director">Director: @ViewBag.DatosPelicula.Director</h1>
 <div class="jumbotron jumbotron-fluid">
  <div class="container fondoGris">
    <h1 class="display-4">Sinopsis</h1>
    <p class="datos">Sinopsis: @ViewBag.DatosPelicula.Sintesis</p>

  </div>
</div>

  @foreach(Reseña res in @ViewBag.DatosReseña)
 {
  <img src="@res.Foto" class="mr-3" alt="...">
  <div class="media-body">
  <h5 class="mt-0"> @res.NombreDelUsuario</h5>
  <h2 class="mt-0"> @res.Titulo</h2>
   @res.Contenido
  </div> 
    <a href='@Url.Action("EliminarReseña","Home",new{idReseña = @res.IdReseña, IdPelicula = @res.IdPelicula})'></a>
    <button class="btn btn-primary" type="submit">Eliminar Reseña</button>
    <br></br>
  
      
 }
<a href='@Url.Action("AgregarReseña","Home",new{idReseña = @p.IdReseña, IdPelicula = @p.IdPelicula})'></a>
    <button class="btn btn-primary" type="submit">Escribe tu propia reseña </button>

</body>
	
<html>
