@{
    ViewData["Title"] = "VerInfoPelicula";
}


<html>


	<body class="fondo">


    <div class="text-center">
    <h1>@ViewBag.DatosPelicula.Nombre</h1>
    </div>

   <div class="delimitador">
<div class="contenedor">
<iframe src=https://www.youtube.com/embed/R7aiJtcJ0AQ></iframe>
</div>
<div class="contenedor">
  
<iframe src="https://player.vimeo.com/video/52553020"></iframe>
</div>
</div>

	<img class="fotoPeli"src="@ViewBag.DatosPelicula.Foto" >

 <h1 class="Director">Director: @ViewBag.DatosPelicula.Director</h1>
 <div class="jumbotron jumbotron-fluid">
  <div class="container fondoGris">
    <h1 class="display-4">Sinopsis</h1>
    <p class="datos">Sinopsis: @ViewBag.DatosPelicula.Sintesis</p>

  </div>
</div>

  @foreach(Reseña res in @ViewBag.DatosReseña)
 {
  <img src="@res.Foto" class="mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0"> @res.Titulo</h5>
        <h2 class="mt-0"> @res.NombreDelUsuario</h2>
   @res.Contenido
  </div> 






 }
       





</body>
	
<html>
